*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Sintony&display=swap');
h2.display-2 span {
    display: block;
}
body{
    background-image: url('https://i.postimg.cc/cL9hJnxQ/debby-hudson-Ni-Qjj-Enf-S-c-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.navbar{
    justify-content: flex-end;
}
