@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.hh {
  background: transparent;
}
.para{
  margin-top: 20vh;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  }



body{
  background-image: url('https://i.ibb.co/7kT0x4n/abstract-background-that-captures-the-essence-of-tranquility-and-serenity-free-photo.jpg');
  background-size: cover;
  background-position: center;
}
.navbar{
  background-color: #49b0c0;
}
footer{
  background-color:#49b0c0;
  text-align: center;
  padding: 10px;
}
.card{
    width: 12rem;
    background-color:transparent;
}
@media screen and (max-width:767px) {
  .table{
    width: 100%;
 }

  th, td {
    text-align: center;
  }
  .row w-50{
    width: 100%;
    text-align: center;
  }
  .col w-50{
    width: 100%;
  
  }
}


